@charset "utf-8";
/*
    Document    : desktop
    Author      : valmon, z-mode
    Description : Основной CSS файл


    Основные цвета сайта:
    Оранжевый : #FF6600;
    Зелёный : #009900;

 Reset
-------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

:focus {
    outline:0;
}

body {
    line-height:1;
    font-family:Verdana,Arial,Tahoma;
    color:#000;
    font-size:14px;
}

ol,ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border:none;
    empty-cells:show;
    border-spacing:0;
    width:100%;
}

caption,th,td {
    text-align:left;
    font-weight:normal;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:"";
}

blockquote,q {
    quotes:"" "";
}

a {
    text-decoration:underline;
    color:#000;
}

table td {
    margin:0;
    padding:0;
}

#discounts {
    padding-top:5px;
}

#discounts .caption {
    background:url(/public/images/caption_orange_bg.jpg) repeat-x;
    float:right;
    width:135px;
    font-size: 13px;
    font-family: Arial;
}

#discounts .discount {
    height:30px;
}

#discounts .discount .left {
    font-size:10px;
    color:gray;
    padding-top:3px;

}

#discounts .count {
    float:left;
    text-align:center;
    width:48px;
    height:34px;
    color:#FFF;
    font-family: Verdana, Arial;
    font-size:9px;
    line-height:10px;
    background:#d84705;
    padding:1px 1px 1px 2px;
    text-align: center;
    padding-top:5px;
}

.poster {
    font-size:13px;
    margin:4px 0;
    line-height: 16px;
}
.poster:first-letter { color: red }