@charset "utf-8";
/*
    Document    : desktop
    Author      : valmon, z-mode
    Description : Основной CSS файл


    Основные цвета сайта:
    Оранжевый : #FF6600;
    Зелёный : #009900;

 Reset
-------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}
::selection {background: #f60;color:#fff}
:focus {
    outline:0;
}

html {
    width:100%;
}

body {
    line-height:1;
    font-family:Arial;
    color:#000;
    background:#fff;
    font-size:14px;
    width:100%;
    width:expression(document.body.clientWidth < 952? "952px": "auto" );
}

ol,ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border:none;
    empty-cells:show;
    border-spacing:0;
}

caption,th,td {
    text-align:left;
    font-weight:normal;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:"";
}

blockquote,q {
    quotes:"" "";
}

a {
    text-decoration:underline;
    color:inherit;
}
a:hover {
    text-decoration:none;
}

table td {
    margin:0;
    padding:0;
}

/* Основные блоки
-------------------------------------------------------------------*/

#container {W
            width: 100%;
}

#header {
    width:100%;
    height:179px;
    background:url(/market/public/images/header_bg.png) repeat-x;
}

#header #logo {
    float:left;
    padding:60px 0 0 20px;
}

#header #banner_top {
    float:right;
    padding:40px 20px 0 0;
}

/* Меню сайта
-------------------------------------------------------------------*/
#topMenu {
    height:26px;
    background:url(/public/images/caption_orange_bg.jpg) repeat-x;
    padding:7px 0 0 30px;
}

#topMenu a {
    font-size:14px;
    color:#000;
    margin-right:20px;
    padding:4px 14px;
    height:21px;
    display:block;
    float:left;
    color:#fff;
}

#topMenu a:hover,#topMenu a.current {
    font-size:14px;
    background:#fff;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0 ;
    border-radius:3px 3px 0 0;
    text-decoration:none;
    color:#000;
}

#info_block {
    padding-top:10px;
    padding-bottom:10px;
}
#info_block table {
    width:100%;
}

#info_block table td {
    vertical-align:top;
}
#info_block .first_col {
    padding-left:20px;

}
.select {
    background:url(/market/public/images/select_new.jpg) no-repeat;
    width:283px;
    height:30px;
    font-size:21px;
    padding: 5px 0 0 5px;
    margin-top:10px;
    cursor:pointer;
}
#locate_select {
    background: #fff;
    width:275px;
    position:absolute;
    margin-top:-30px;
    font-size:21px;
    opacity:0;
}
.district {
    opacity:0;
}
.remember {
    padding-left:128px;
    margin-top:10px;
}

.trash {
    background:url(/market/public/images/trash_block_bg.jpg) repeat-y;
    width:193px;
}
.money {
    padding-top:10px;
    font-size:18px;
    padding-left:30px;
}

.money .rub {
    font-size:44px;
}

.money .rub sup{
    font-size:14px;
    font-style:italic;
}

.money .edit {
    padding:5px 0 5px 5px;
    font-size:14px;
}
.order {
    padding:10px 0 5px 0;
    text-align:center;
    border-top:2px solid #ffffff;
    font-style:italic;
    font-size:21px;
}
.order a {
    font-style:italic;
    font-size:21px;
    color:#000000;
}

.trash_description {
    padding:5px;
    line-height:24px;
    width:210px;
}

#login_block {
    text-align: right;
    font-family: Tahoma, Arial, Helvetica;
    line-height: 17px;
    font-size: 11px;
    float:right;
    margin-right:30px;
    padding-left:20px;
    padding-top:13px;
}

.navigation {
    background:#000000;
    margin:10px 10px;
    height:45px;

}

.navigation .back {
    background:url(/market/public/images/back.jpg) 0 0 no-repeat;
    width:24px;
    height:24px;
    position:absolute;
    left:30px;
    margin-top:10px;
}

.navigation .menu {
    margin-left:60px;
}

.navigation .menu li {
    margin-top:15px;
    float:left;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    margin-right:20px;
    display: block;
    padding: 3px 8px;
}
.navigation .menu li.active {
    background:#fff;
    color:#000;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.navigation .menu li.active a {text-decoration: none;}
.navigation .next {
    background:url(/market/public/images/next.jpg) 0 -24px no-repeat;
    width:24px;
    height:24px;
    position:absolute;
    right:30px;
    margin-top:10px;
}
.navigation .pages  {
    font-size:18px;
    color:#666666;
    position:absolute;
    margin-top:15px;
    right:80px;

}
#menu_list {
    min-height:500px;
}
.tags {
    margin:0 40px;
    padding:5px 0 10px 0;
    height:30px;
    background:#EAEAEA;
}

.tags .menu_tag {
    margin: 5px;
}

.tags .menu_tag.current {
    background: #f60;
    color:#fff;
}

.echo {
    margin:0 20px;
}
.echo .caption.green {
    margin-top:15px;
    border-bottom:2px solid #009900;
}
.echo .caption.orange {
    margin-top:15px;
    border-bottom:2px solid #FF6600;
}
.echo .caption .title {
    width:300px;
    margin:0 auto;
    text-align:center;
    top:3px;
    position:relative;
    background:#ffffff;
}

.echo .caption.green .title a{
    color:#009900;
}
.echo .caption.orange .title a{
    color:#ff6600;
}

.echo .delivery_desc {
    font-size:12px;
    margin-top:6px;
    text-align: center;
}

.echo .status {
    margin-top:6px;
    float: right;
    font-size:12px;
    color: #009900;
}

.echo .status.green {color: #009900;}
.echo .status.orange {color: #ff6600;}
.echo .list {margin-top:10px;}
/********************************* ITEM ******************************/

.item  {
    float:left;
    margin:10px 30px 5px 0;
    width:205px;
}
.item .title {
    margin:3px 0;
}
.item .foto {
    margin-top: 8px;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
}
.item .foto img {
    width:183px;
}
.item .item_tags {float:left;}
.item .item_tags .tag_item {
    width:18px;
    height:18px;
    background:#999999;
    float:left;
    margin:1px;
}
.item .reviews {float:right;font-size:10px;color: #ff6600;}
.item .reviews_number {float: left; color: #ff6600; font-size:10px;}
.item .description {
    font-size:12px;
    padding:12px 0;
    line-height: 15px;
}
.item .portions {
   margin-bottom: 10px;
   font-size: 12px;
   color: #ff6600;
}
.item .portion {
    cursor: pointer;
}


.item .portion.active {
    color: #000000;
}
.item .active span  {color: #ff6600;}
.item .portion.active span.s_portion {
    display: block;
}

.item .price {
    float:left;
}

.item .price .new {
    color: #ff6600;
    font-size:10px;
    text-decoration:none;
}

.item .price .old {
    font-size:12px;
    text-decoration:line-through;
}

.item .price span {

    font-size:25px;
    
}

.item .get {float:right;}

.item .buy {
    font-size:14px;
    float: right;
    font-style: italic;
    line-height: 28px;
}

/******************************** CLASS *****************************/
.font21px {
    font-size:21px;
}
.font12px {
    font-size:12px;
}

.clear {
    clear:both;
}

.loader {width:48px;height:48px;margin:200px auto auto;}

.rounded {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.rounded_left {
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

.rounded_right {
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}

.rounded_bottom {
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
}

.box_shadow {
    -moz-box-shadow:2px 2px 3px #969696;
    -webkit-box-shadow:2px 2px 3px #969696;
}

.box_shadow_not_ie {
    -moz-box-shadow:2px 2px 3px #969696;
    -webkit-box-shadow:2px 2px 3px #969696;
    box-shadow:2px 2px 3px #969696;
}

.text_shadow {
    text-shadow:#aaa 1px 1px 1px;
}

/* Диалоги
- ---------------------------------------------------------------------*/
.dialog_box {
    position:fixed;
    left:50%;
    margin-left:-220px;
    top:200px;
    width:440px;
    background:#fff;
    border:4px solid #86a515;
    z-index:100000;
    display:none;
}

.dialog .caption {
    height:34px;
    width:100%;
}

.dialog .close_button {
    width:18px;
    height:18px;
    background:#86a515;
    float:right;
    cursor:pointer;
    margin: 8px 8px 0 0;
}

.dialog .title {
    font-size:25px;
    width:100%;
    color:#86a515;
    text-align:center;
}

.dialog .message {
    margin-top:10px;
    width:100%;
    text-align:center;
    color:#ff6600;
    height:16px;
}

.dialog .form_dialog {
    width:auto;
    padding:0 23px;
}

.dialog .form_input {
    width:100%;
    font-size:24px;
    border:1px solid #000;
    text-align:center;
    height:44px;
}

.dialog .form_loader {
    display:none;
    float:left;
    position:absolute;
    padding-left:5px;
}

.dialog .label {
    font-size:11px;
    color:#505050;
    text-align:center;
    margin:8px 0 3px;
}
#auth_dialog {
    height:360px;
    text-align:center;
}

#auth_dialog #remain_me {
    float:right;
    font-size:11px;
    margin:8px 0 0 5px;
}
#registration_dialog {
    height:447px;
    text-align:center;
}

#passwd_dialog {
    height:240px;
    text-align:center;
}
#auth_dialog #auth_submit,
#registration_dialog #registration_submit,
#passwd_dialog #passwd_submit{
    width:195px;
    height:55px;
    background:url(/public/images/auth_button.jpg);
    border:none;
    cursor:pointer;
    color:#FFF;
    font-size:14px;
    text-shadow:-1px 0 0 #777;
    display:block;
    margin:0 auto;
}
#body_fill {
    display:none;
    width:100%;
    height:100%;
    background: #000;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
}
#auth_dialog #auth_submit:active,
#registration_dialog #registration_submit:active,
#passwd_dialog #passwd_submit:active{
    background:url(/public/images/auth_button_active.jpg);
}
#order_dialog {
    width:600px;
    margin-left:-300px;
    padding:10px;
}
#order_dialog .description {
    padding: 0px 25px;
}
#dish_order_table .caption {
    border:none;
    height:15px;
}
#dish_order_table .caption td{
    text-align: center;
    padding:8px;
    font-weight: bold;
}
#order_dialog #dish_order_items{
    width:100%;
}
#order_dialog .caption{
    height:45px;
}
#order_dialog #dish_order_items td{
    border-bottom:1px solid gray;
    padding:8px;
    text-align: center;
}
#dish_order_table .caption td.trash_title,
#order_dialog #dish_order_items td.trash_title{
    text-align: left;
    font-weight: bold;
}
#order_dialog #dish_order_items .last td{
    border:0;
}
#order_dialog .gen_price {
    margin-bottom: 10px;
    font-size:14px;
    float:right;
}
#order_dialog .gen_price td {
    padding-right: 25px;
    padding-bottom: 6px;
    font-weight: bold;
}
#order_dialog #order_submit {
    width:77px;
    height:27px;
    float:right;
    margin-top:15px;
    background: url(/public/images/icons/trash_submit.jpg);
    display:block;
}
#dish_order_table .rounded {
    padding:10px;
    border: 2px solid gray;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    margin-bottom: 20px;
}
#dish_order_table .remove_item,
#dish_order_table .plus_item,
#dish_order_table .minus_item{
    width:13px;
    height:13px;
    display: block;
    text-decoration: none;
    background: url(/public/images/icons/trash_controll.jpg) 0 -26px;
    float:left;
}
#dish_order_table .minus_item {
    background: url(/public/images/icons/trash_controll.jpg) 0 0;
}
#dish_order_table .plus_item {
    background: url(/public/images/icons/trash_controll.jpg) 0 -13px;
}
/******************************** Вывод сообщения *****************************/
#message_dialog {
    display:none;
    position: absolute;
    left:40px;
    top:0px;
    width:300px;
    background:gray;
    padding:25px 12px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

/******************************** Вывод блюда *****************************/
.dish_header {
    line-height:59px;
    height:59px;
    background:#000;
    font-size:16px;
    color:#FFF;
}
.dish_header {
    line-height:59px;
    height:59px;
    background:#000;
    font-size:16px;
    color:#FFF;
}

.dish_header .nav {
    width:12px;
    margin-bottom:-5px;
}

.dish_header .back {
    float:left;
    width:24px;
    height:24px;
    background:url(/public/images/icons/show_rest_back.jpg) no-repeat 0 0;
    margin:18px 0 0 20px;
}

.dish_header .next {
    float:right;
    width:24px;
    height:24px;
    background:url(/public/images/icons/show_rest_next.jpg) no-repeat 0 0;
    margin:18px 20px 0 0;
}

.dish_header .next.active {
    background-position: 0 -24px;

}
.dish_header .next.active:active {
    margin:19px 20px 0 0;
}
.dish_header .back.active {
    background-position: 0 -24px;

}
.dish_header .back.active:active {
    margin:19px 0 0 20px;
}
.dish_header .caption {
    color:#FFF;
    font-size:24px;
    padding-left:20px;
    float:left;
}